In [ ]:
import pandas as pd
import numpy as np
import requests
import re

from bs4 import BeautifulSoup
import os

In [ ]:
URL = 'https://www.antaranews.com/covid-19#mobile-nav'
page = requests.get(URL)
soup = BeautifulSoup(page.content, "html.parser")
tables = soup.findChildren('table')

In [ ]:
my_table = tables[0]

In [ ]:
rows = my_table.findChildren(['tr'])

In [ ]:
dictData={}
for row in rows:
  cells = row.findChildren('td')
  count = 0
  for cell in cells:
    if str(count) not in dictData.keys():
      dictData[str(count)] = []
    value = cell.string
    dictData[str(count)].append(value)
    count+=1

In [ ]:
df = pd.DataFrame.from_dict(dictData)
df.columns = df.iloc[0]
df = df[1:]

In [ ]:
df

0                     PROVINSI DIRAWAT TERKONFIRMASI      SEMBUH MENINGGAL
1                  DKI Jakarta   7.330     1.141.024   1.121.197    12.497
2                   Jawa Barat   5.170       944.335     926.290    12.875
3                  Jawa Tengah   1.280       510.662     482.541    26.841
4                   Jawa Timur     714       483.527     457.363    25.450
5                       Banten   1.316       269.180     265.513     2.351
6   Daerah Istimewa Yogyakarta     530       179.894     174.606     4.758
7             Kalimantan Timur     245       167.437     162.570     4.622
8                         Bali     242       133.691     129.647     3.802
9               Sumatera Utara     346       127.325     124.366     2.613
10                        Riau     123       122.378     118.672     3.583
11            Sulawesi Selatan     195       115.909     113.736     1.978
12              Sumatera Barat     164        83.866      81.784     1.918
13         Nusa Tenggara Timur     209        75.847      74.435     1.203
14          Kalimantan Selatan      59        70.308      68.196     2.053
15            Sumatera Selatan     208        65.963      63.008     2.747
16                     Lampung     159        60.631      57.117     3.355
17              Kepulauan Riau      80        56.500      54.911     1.509
18   Kepulauan Bangka Belitung      91        53.006      51.617     1.298
19            Kalimantan Barat     115        52.689      51.679       895
20             Sulawesi Tengah     138        49.076      47.545     1.393
21           Kalimantan Tengah      36        46.734      45.457     1.241
22              Sulawesi Utara     337        42.658      41.352       969
23                       Papua     168        40.138      39.514       456
24            Kalimantan Utara      24        36.336      35.638       674
25                        Aceh      98        35.338      33.440     1.800
26                       Jambi      60        31.003      30.231       712
27         Nusa Tenggara Barat      21        29.087      28.331       735
28                 Papua Barat     105        25.913      25.501       307
29                    Bengkulu      48        23.445      22.968       429
30           Sulawesi Tenggara      61        20.645      20.134       450
31                      Maluku      21        14.895      14.626       248
32              Sulawesi Barat      18        12.443      12.094       331
33                Maluku Utara      13        11.713      11.419       281
34                   Gorontalo      37        11.230      10.791       402
35            SUMATERA_SELATAN       5            11           6         0
36                          B`       1             1           0         0
37        PROVINSI JAWA TENGAH       0             1           1         0
38              LAMPUNG TENGAH       1             1           0         0

In [ ]:
df['PROVINSI']

1                    DKI Jakarta
2                     Jawa Barat
3                    Jawa Tengah
4                     Jawa Timur
5                         Banten
6     Daerah Istimewa Yogyakarta
7               Kalimantan Timur
8                           Bali
9                 Sumatera Utara
10                          Riau
11              Sulawesi Selatan
12                Sumatera Barat
13           Nusa Tenggara Timur
14            Kalimantan Selatan
15              Sumatera Selatan
16                       Lampung
17                Kepulauan Riau
18     Kepulauan Bangka Belitung
19              Kalimantan Barat
20               Sulawesi Tengah
21             Kalimantan Tengah
22                Sulawesi Utara
23                         Papua
24              Kalimantan Utara
25                          Aceh
26                         Jambi
27           Nusa Tenggara Barat
28                   Papua Barat
29                      Bengkulu
30             Sulawesi Tenggara
31                        Maluku
32                Sulawesi Barat
33                  Maluku Utara
34                     Gorontalo
35              SUMATERA_SELATAN
36                            B`
37          PROVINSI JAWA TENGAH
38                LAMPUNG TENGAH
Name: PROVINSI, dtype: object

In [ ]:
df['DIRAWAT']

1     7.330
2     5.170
3     1.280
4       714
5     1.316
6       530
7       245
8       242
9       346
10      123
11      195
12      164
13      209
14       59
15      208
16      159
17       80
18       91
19      115
20      138
21       36
22      337
23      168
24       24
25       98
26       60
27       21
28      105
29       48
30       61
31       21
32       18
33       13
34       37
35        5
36        1
37        0
38        1
Name: DIRAWAT, dtype: object

In [ ]:
df['TERKONFIRMASI']

1     1.141.024
2       944.335
3       510.662
4       483.527
5       269.180
6       179.894
7       167.437
8       133.691
9       127.325
10      122.378
11      115.909
12       83.866
13       75.847
14       70.308
15       65.963
16       60.631
17       56.500
18       53.006
19       52.689
20       49.076
21       46.734
22       42.658
23       40.138
24       36.336
25       35.338
26       31.003
27       29.087
28       25.913
29       23.445
30       20.645
31       14.895
32       12.443
33       11.713
34       11.230
35           11
36            1
37            1
38            1
Name: TERKONFIRMASI, dtype: object

In [ ]:
df['SEMBUH']

1      1.121.197
2        926.290
3        482.541
4        457.363
5        265.513
6        174.606
7        162.570
8        129.647
9        124.366
10       118.672
11       113.736
12        81.784
13        74.435
14        68.196
15        63.008
16        57.117
17        54.911
18        51.617
19        51.679
20        47.545
21        45.457
22        41.352
23        39.514
24        35.638
25        33.440
26        30.231
27        28.331
28        25.501
29        22.968
30        20.134
31        14.626
32        12.094
33        11.419
34        10.791
35             6
36             0
37             1
38             0
Name: SEMBUH, dtype: object

In [ ]:
df['MENINGGAL']

1      12.497
2      12.875
3      26.841
4      25.450
5       2.351
6       4.758
7       4.622
8       3.802
9       2.613
10      3.583
11      1.978
12      1.918
13      1.203
14      2.053
15      2.747
16      3.355
17      1.509
18      1.298
19        895
20      1.393
21      1.241
22        969
23        456
24        674
25      1.800
26        712
27        735
28        307
29        429
30        450
31        248
32        331
33        281
34        402
35          0
36          0
37          0
38          0
Name: MENINGGAL, dtype: object